<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Medical Clinic</title>
    <link rel = "stylesheet" type = "text/css" href = "medicalStyle.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap" rel="stylesheet">

    <link rel = "shortcut icon" href="favicon.png">

    <!--    <a href='https://pl.freepik.com/wektory/sztandar'>Sztandar plik wektorowy utworzone przez starline - pl.freepik.com</a>-->
    <!--    <a href="https://www.flaticon.com">Icons made by flaticon.com</a>-->

</head>
<body>
    <div class = "headline">
        <a th:href= "@{/}">
            Medical Clinic
        </a>
    </div>
    <div class = "space">

    </div>
    <div class ="aside">
        <div class = "menu"><a th:href="@{/}">Menu</a></div>
        <li><a th:href = "@{/}">Home</a></li>
        <li><a th:href = "@{/patient}">Patient</a></li>
        <li><a th:href = "@{/disease}">List of disease</a></li>
        <li><a th:href = "@{/doctors}">Doctors</a></li>
    </div>
    <div class = "container" style = "margin:0px;">
        <form th:action="@{/patient}">
            <div class ="btn-20">
                <input type="submit" value="Back to Patient List" class = btn-dark>
            </div>
        </form>
        <form th:action="@{/patient{id}/updateDetails(id=${pE.getId()})}" th:object="${pE}" method="post">
            <div class ="detailsContainer">
                <h2> Name:
                    <input type="text" th:field="*{name}">
                </h2>
                <h2> Surname:
                    <input type="text" th:field="*{surname}">
                </h2>
                <h2> Age:
                    <input type="text" th:field="*{age}">
                </h2>
                <h2> Disease:
                    <input type="text" th:field="*{disease}">
                </h2>
                <h2> Disease Description:
                    <input type="text" th:field="*{diseaseDescribe}">
                </h2>
                <h2> Bed Number:
                    <input type="text" th:field="*{bedNumber}">
                </h2>
            </div>
            <div class = "buttonCSS">
                <input type = "submit" value = "Save Changes" class = "btn-dark">
            </div>
        </form>
        <form th:action="@{/patient{id}/deletePatient(id=${pE.getId()})}" th:object="${pE}" method="post">
            <div class = "buttonCSS">
                <input type ="hidden" th:field="${pE}">
                <button class ="btn-red" type = "submit" th:text="Delete" onclick="return confirm('Are you sure to delete this?')"></button>
            </div>
        </form>
    </div>
</body>
</html>