<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Medical Clinic</title>
    <link rel = "stylesheet" type = "text/css" href = "medicalStyle.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap" rel="stylesheet">

    <link rel = "shortcut icon" href="favicon.png">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--    <a href='https://pl.freepik.com/wektory/sztandar'>Sztandar plik wektorowy utworzone przez starline - pl.freepik.com</a>-->

</head>
<body>
    <div class = "headline">
        <a th:href= "@{/}">
            Medical Clinic
        </a>
    </div>
    <div class ="aside">
        <div class = "menu"><a th:href="@{/}">Menu</a></div>
        <li><a th:href = "@{/}">Home</a></li>
        <li><a th:href = "@{/patient}">Patient</a></li>
        <li><a th:href = "@{/disease}">List of disease</a></li>
        <li><a th:href = "@{/doctors}">Doctors</a></li>
        <li><a th:href = "@{/visit}">Visits</a></li>

    </div>
    <div class = "ContainerForTables">

        <table class = "tab">
                <thead>
                    <tr>
                        <th> Date of Visit: </th>
                        <th> Patient: </th>
                        <th> Doctor: </th>
                        <th>
                            <form th:action="@{/addNewVisit}">
                                <input type="submit" value = "Add new" class = "btn-green">
                            </form>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each = "visit : ${visits}">
                        <td th:text="${#dates.format(visit.date, 'dd-MM-yyyy')}"></td>
                        <td th:text="${visit.getPatient().surname}"></td>
                        <td th:text="${visit.getDoctor().surname}"></td>
                        <td>
                            <form th:action="@{/visit{id}/deleteVisit(id=${visit.getId()})}" th:object="${visits}" method="post">
                                <div>
                                    <input type ="hidden" th:field="${visits}">
                                    <button class ="btn-red" type = "submit" th:text="Delete" onclick="return confirm('Are you sure to delete this?')"></button>
                                </div>
                            </form>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
</body>
</html>